/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body{
    font-family: sans-serif;
}


/* header */
nav{
    position: fixed;
    width: 100%;
    
    background-color: #ff6900;
}
nav .nav-bar{
    padding: 30px 0px;
    margin: 0px 260px;
   
    display: flex;
    justify-content: space-between;

}
nav .nav-bar a{
    padding: 0px 10px;

    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
nav .nav-bar .logo{
    width: 150px;
}
nav .nav-bar .icons{
    color: white;
    /* to fix  */
}
/* fine header */





/* main */
.row{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
    gap: 20px;
}
.top{
    padding-top: 130px;
}

.img-container{
    position: relative;
}
.img-container .img{
    width: 450px;
}
.img-container .hearts{
    position: absolute;
    top: 10px;
    right: 0px;

    padding: 12px;

    font-size: 26px;

    background-color: white;
}
.img-container .tag{
    position: absolute;
    bottom: 110px;

    padding: 8px 10px;

    font-size: 12px;
    color: white;
}
.img-container .discount{
    background-color: #ff0000;
}
.img-container .sustainability{
    left: 55px;

    background-color: #008000;
}
.img-container .brand{
    font-size: 12px;
}
.img-container .item{
    font-weight: bold;
    font-size: 14px;
}
.img-container .price{
    color: red;
    font-size: 14px;
    font-weight: bold;
}
.img-container .full-price{
    font-size: 14px;
    text-decoration: line-through;
}
/* fine main */






/* footer */

footer{
    background-color: #1a1a1a;
}
footer .footer-container{
    height: 100px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* fine footer */