/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}


/* header */
nav{
    position: fixed;
    width: 100%;
    z-index: 200;
    
    background-color: #ff6900;
}
nav .nav-bar{
    padding: 20px 0px;
    margin: 0px 260px;
   
    display: flex;
    justify-content: space-between;
}
nav .nav-bar a{
    padding: 0px 10px;

    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
nav .nav-bar .logo{
    width: 150px;
}
nav .nav-bar .icons{
    color: white;
    /* to fix  */
}
/* fine header */


/* main */
.row{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
    gap: 20px;
}
.top{
    padding-top: 130px;
}
.img-container{
    position: relative;
}
.img-container .img{
    position: relative;
}

.img-container .img .img-1{
    width: 450px;
}
.img-container .img .img-2{
    width: 450px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.img-container:hover .img-2{
    display: inline-block;
}

.img-container .hearts{
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 5;

    padding: 6px 12px;

    font-size: 26px;

    background-color: white;
}
/* hover hearts */
.hearts:hover{
    color: red;
}


.img-container .tag{
    position: absolute;
    z-index: 10;

    padding: 8px 10px;
    bottom: 50px;

    font-size: 12px;
    color: white;
}
.img-container .discount{
    background-color: #ff0000;
}
.img-container .sustainability{
    left: 55px;

    background-color: #008000;
}
.img-container #position-tag{
    left: 0;
}
.img-container .brand{
    font-size: 12px;
}
.img-container .item{
    font-weight: bold;
    font-size: 14px;
}
.img-container .price{
    color: red;
    font-size: 14px;
    font-weight: bold;
}
.img-container .full-price{
    font-size: 14px;
    text-decoration: line-through;
}
/* fine main */


/* footer */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color: #1a1a1a;
    padding: 30px 0px;
}
footer .footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
}
footer .footer-container .info{
    line-height: 1.8em;
}
footer .footer-container .info .info-undertext{
    font-size: 10px;
}
footer .footer-container .social-text{
    font-size: 10px;
}
/* fine footer */